// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-top{
	margin-top: 15px;
}

.product-show{
	margin-left: 100px;
}

.product-status{
	margin-left: 10px;
}

.product-index{
	margin-left: 10px;
}

.product-photo{
	margin-top: 10px;
	margin-bottom: 10px;
}